* {
    box-sizing: border-box;
}

.calculations {
    float:right;
    display:inline;
    width: 49%;
}

#map {
    float:left;
    display:inline;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 50%;
    height: 80%;
}

p {
    margin: 0;
    font-size: 16px;
}

span {
    font-weight: bold;
}

@media only screen and (max-width: 900px) {
    /* For mobile phones: */
    #map {
        width: 100%;
        height: 50%;
    }

    .calculations {
        position: absolute;
        top: 50%;
        width: 100%;
    }
}