* {
    box-sizing: border-box;
}

.map {
    float:left;
    display:inline;
    width: 49%;
}

.calculations {
    float:right;
    display:inline;
    width: 49%;
}

#map {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 50%;
    height: 100%;
}

p {
    margin: 0;
    font-size: 16px;
}

span {
    font-weight: bold;
}